<% provide(:title, "About") %>

<div class="center jumbotron">
    <h1>About Wanderlusting</h1>
    <p>Wanderlusting is a community of travelers just like you! With a Wanderlusting account
     you will be able to create your own travel posts and follow other wanderlusters for travel inspiration and tips!
    <br>
    <br>
    <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
    </p>
</div>
