<% provide(:title, 'Contact') %>

<div class="center jumbotron">
  <h1>Contact</h1>
  <p class="">
    <a href="mailto:Tupaclypse@gmail.com?Subject=Wanderlusting target="_blank">@Knowledge on Twitter!</a>
  </p>
</div>
