<% provide(:title, 'CONTACT') %>

<div class="center jumbotron">
  <h1>Contact</h1>
  <p class="">
    <a href="mailto:Tupaclypse@gmail.com?Subject=Wanderlusting target="_blank">Email: Knowledge</a>
    <br>
    <a href="http://www.instagram.com/knowledge">Follow @Knowledge on Instagram!</a>
    <br>
    <a href="http://www.twitter.com/knowledgemc">Follow @Knowledge on Twitter!</a>
  </p>
</div>
