<% provide(:title, "Help") %>
<div class="center jumbotron">
<h1>Welcome to the Help Section!</h1>
<p>Wanderlusting is a fullstack Ruby on Rails application where users
can post Travel pics, as well as view and comment on other users' posts.  It is essentially a travel-focused Instagram clone. </p>
<p>After signing up for an account,
      you will be able to create your own
        travel posts and follow other users!
</p>
<%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

