<% provide(:title, "HOME") %>

<div class="center jumbotron">
  <h1>Welcome to Wanderlusting!</h1>

  <p>Home for wanderlusters just like you! Join now for travel pics, tips, and inspiration!</p>

  <%= link_to "Sign Up Now!", signup_path, class: "btn btn-lg btn-primary" %>

